@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.section {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
        color: black;
        font-family: "Merriweather";
        font-size: 2.25rem;
        margin: 0;
    }

    h2 {
        color: black;
        font-family: "Merriweather";
        font-size: 2rem;
        margin: 0;
    }

    p {
        color: black;
        font-family: "Open Sans";
        font-size: 1.25rem;
        margin: 0;
    }
}










