@font-face {
  font-family: "Merriweather";
  src: url("fonts/Merriweather.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.section {
  height: fit-content;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  width: 65%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 65%;
}